@font-face {
  font-family: 'noto';
  src: url('/src/assets/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'noto-sc';
  src: url('/src/assets/NotoSansCJKsc-Regular.otf');
}

@font-face {
  font-family: 'noto-tc';
  src: url('/src/assets/NotoSansCJKtc-Regular.otf');
}

@font-face {
  font-family: 'noto-jp';
  src: url('/src/assets/NotoSansCJKjp-Regular.otf');
}

@font-face {
  font-family: 'emoji';
  src: url('/src/assets/NotoColorEmoji.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  font-size: 16px;
  font-family: 'noto', 'noto-jp', 'noto-sc', 'noto-tc', 'Noto Sans', sans-serif;
}

.emoji {
  font-family: 'emoji';
}

.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}

#app {
  margin: 0 auto;

  height: 650px;
  max-height: 100vh;

  width: 500px;
  max-width: 100vw;

  text-align: center;
  background-color: #ebebeb;
  font-size: 1.5em;
  padding-top: 1px;

  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;

    input#q {
      flex-grow: 1;
      min-width: 400px;
      margin: 0.5em;
      padding: 0.5em;
    }
  }

  .container {
    flex-grow: 1;
    max-height: 100%;

    > * {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-height: 100%;
      overflow: auto;

      .emoji {
        cursor: pointer;
        font-size: 2em;
        line-height: 2em;
        width: 20%;
        flex-grow: 0;
      }

      .nothing {
        padding: 0.5em;
        padding-top: 1em;

        width: 100%;
        margin: 0 auto;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    list-style-type: none;

    > * {
      padding: 0.5em;
      min-width: 2em;
    }

    button {
      all: unset;
      cursor: pointer;
      font-size: 1.2em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      position: relative;

      &:hover {
        background-color: lightblue;
      }

      &:active {
        top: 0.2em;
      }
    }
  }
}
